* {
 padding: 0;
 margin: 0;
 border: none;
 list-style: none;
 text-decoration: none;
 box-sizing: border-box;
 font-family: 'Poppins','Montserrat',sans-serif;
}

html,body{
 width: 100%;
 height: 100%;
}
.outer{
    /* background-color: aquamarine; */
    width: 30%;
    min-width: 280px;
    max-width: 300px;
    aspect-ratio: 1/1.5;
    position: relative;
    margin: 10% auto;
}
.shape{
    background-color: rgba(187, 0, 255, 0.451);
    position: absolute;
    width: 150%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    aspect-ratio: 1/1;
    z-index: 1;
    border-radius: 66% 34% 70% 30% / 44% 48% 52% 56% ;
    
}
.calculator{
    background-color: #212121;
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1.5;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 5px;
    /* box-shadow: 1px 1px 5px rgba(31, 31, 31, 0.5); */
}
.inputBox{
    /* background-color: #686868; */
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.inputBox>input, .result{
    
    background-color: #212121;
    color: yellow;
    width: 60%;
    aspect-ratio: 2/1;
}
.inputBox>input:focus{
    background-color: #212121;
    outline: none;
    color: yellow;
}
.result{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
hr{
    background-color: rgba(240, 248, 255, 0.5);
    width: 90%;
    height: 0.5px
}
.buttons{
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: auto;
}
.calBtn{
    background-color: #3a3d35;
    color: yellow;
    width: 45%;
    aspect-ratio: 1/1;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
.calBtn:hover{
    background-color: rgba(240, 248, 255, 0.5);
}
#equalsBtn{
    background-color: rgb(0, 110, 255);
    color: #FFF;
}
#equalsBtn:hover{
    background-color: rgba(240, 248, 255, 0.5);
}
